.chat-main
  .group-info
    .box
      .name
        = @group.name
      .edit
        = link_to edit_group_path(@group) , class: 'edit-btn' do
          Edit
    .member
      Member : 
      - @group.users.each do |user|
        = user.name
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-btn'